
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inknut+Antiqua:wght@300&family=Sacramento&display=swap');





$f-huge: 72px;
$f-large: 50px;
$f-medium: 30px;
$f-small: 25px;
$f-smaller: 18px;
$f-tiny: 8px;
